* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    /* background: #E23890;
    background: linear-gradient(87deg, rgba(226, 56, 144, 1) 13%, rgba(246, 117, 132, 1) 55%); */
    background-image: linear-gradient(to right, #e13690, #f97e83);

}

html,
body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 8px;
}

.logo span {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(225, 54, 144);
}

.nav-items ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    color: rgb(225, 54, 144);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 40vw;
    text-decoration: none;
    /* transition: all 0.3s ease-in-out; */
}

.nav-items li {
    transition: all 0.3s ease-in-out;
}

li:hover {
    transform: translateY(-10%);
}

.hamburger {
    display: none;
    margin-right: 25px;
    margin-top: 10px;
}

.header .hamburger i {
    font-size: 35px;
    color: black;
    padding: 10px;
    padding-top: 50px;
}


/* CSS for landing page section starts here */

/* .landing-page-container {
    position: relative;
    overflow: hidden;
    background: #E23890;
    background: linear-gradient(87deg, rgba(226, 56, 144, 1) 13%, rgba(246, 117, 132, 1) 55%);
} */

.landing-page-section {
    display: flex;
    /* border: 3px solid red; */
    background: rgb(0, 0, 0);
    height: 630px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    clip-path: polygon(50% 0, 100% 0, 100% 60%, 100% 100%, 50% 94%, 0 100%, 0 0);
}

.content {
    width: 50vw;
    /* border: 3px solid blue; */
    margin-left: 15%;
    margin-top: 7%;
    position: relative;
    animation: online-slide 2s ease-out forwards;
}

@keyframes online-slide {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.content span {
    font-weight: 500;
    font-size: 60px;
    letter-spacing: 5px;
    color: rgb(225, 54, 144);
}

.content p {
    font-size: 22px;
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
}

.content button {
    padding: 20px;
    width: 190px;
    background: linear-gradient(to right, rgb(249, 126, 131), rgb(225, 54, 144));
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    letter-spacing: 2px;
    margin-top: 50px;
    /* border: 3px solid green; */
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: translateY(-10%);
}

.image {
    width: 50vw;
    /* border: 3px solid green; */
    position: relative;
    animation: image-slide 2s ease-in-out forwards;
}

.image img {
    transition: transform 0.3s ease-in-out;
}

.image img:hover {
    transform: scale(1.04);
}

@keyframes image-slide {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.image img {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 600px;
    width: 450px;
}

.round {
    width: 500px;
    height: 500px;
    /* background: linear-gradient(to right, rgb(249, 126, 131), rgb(225, 54, 144)); */
    border-radius: 50%;
    background-image: url(https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/22e81c593339560aa8499637/jj.jpg);
    /* border: 30px soild yellow; */
    background-size: cover;
    margin-top: 100px;
    transform: scale(0);
    animation-name: circle-slide;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    /* transition: all 0.3s ease-in-out; */
}


@keyframes circle-slide {
    from {
        transform: scale(0);

    }

    to {
        transform: scale(1);
    }
}

/* CSS for landing page section ends here */

/* CSS for learning section Starts here */

.Learning {
    /* border: 3px solid red; */
    /* background: #E23890;
    background: linear-gradient(87deg, rgba(226, 56, 144, 1) 13%, rgba(246, 117, 132, 1) 55%); */
    background-image: linear-gradient(to right, #e13690, #f97e83);
    /* clip-path: polygon(50% 0, 100% 0, 100% 60%, 100% 100%, 48% 94%, 0 100%, 0 0); */
    /* border: 5px solid white; */
}

.heading-part {
    /* border: 3px solid blue; */
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    padding: 15px;
    margin: 25px;
}

.grid-part {
    /* border: 3px solid green; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 4%;

    column-gap: 150px;
    justify-content: center;
    justify-items: center;
    /* position: relative; */

}

.grid-part .box {
    /* border: 4px solid black; */
    height: 250px;
    width: 350px;
    position: relative;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box h1 {
    display: inline;
    font-size: 3.5rem;
}

.box h2 {
    display: inline;
    position: absolute;
    top: 12%;
    left: 30%;
}

.box p {
    margin-top: 20px;
    font-style: italic;
}

.heading-part {
    opacity: 0;
    animation-name: text-animation;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes text-animation {
    from {
        transform: scale3d(0);
        opacity: 0;
    }

    to {
        transform: scale3d(1);
        opacity: 1;
    }
}

#box1 {
    /* transform: translateX(-100%); */
    opacity: 0;
    animation-name: box1-slide;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes box1-slide {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

#box2 {
    transform: scale(0);
    animation-name: box2-slide;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes box2-slide {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

#box3 {
    /* transform: translateX(100%); */
    opacity: 0;
    animation-name: box3-slide;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes box3-slide {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* CSS for pathway section starts here */

.Pathway {
    background-color: black;
    /* border: 4px solid blue; */
    clip-path: polygon(50% 8%, 100% 0, 100% 63%, 100% 100%, 0 100%, 0 60%, 0 0);
}

.text-part h2 {
    color: white;
    text-align: center;
    font-size: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top: 80px;
    /* border: 3px solid red; */
}


.card-part .pathway-card {
    border-radius: 20px;
    padding: 25px;
    position: relative;

}



.card-part {
    /* border: 3px solid white; */
    padding: 20px;
}

.pathway-card h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    transition: transform 0.3s ease-out;
}

.pathway-card p {
    font-size: 16px;
    margin-top: 70%;
    /* border: 3px solid red; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

.pathway-card img {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 85%;
    left: 80%;
    transition: transform 0.3s ease-out;
}



.card-part {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

#card1 {
    background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/6a30d53b14a551b9a027229a/sdsd.jpg");
    height: 531px;
    width: 346px;
    background-size: cover;
}

#card2 {
    background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/d3dbe8176ae2547f93db7651/ww.jpg");
    height: 531px;
    width: 346px;
    background-size: cover;
}

#card3 {
    background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/8ed7181ea87f5edfabf0776a/qq.jpg");
    height: 531px;
    width: 346px;
    background-size: cover;
}

#card1 {
    transform: translateX(120%);
    animation-name: pathway-card1-slide;
    animation-delay: 4s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.pathway-card:hover img {
    transform: scale(1.2);
    /* Scale the image up 20% on hover */
}

.pathway-card:hover h2 {
    transform: scale(1.04);
    /* Scale the image up 20% on hover */
}

@keyframes pathway-card1-slide {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%) scale(1);
        opacity: 1;
        /* transition: transform 0.3s ease-out; */
    }
}

#card2 {
    transform: translateX(-120%);
    animation-name: pathway-card2-slide;
    animation-delay: 4s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes pathway-card2-slide {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%) scale(1);
        opacity: 1;
        /* transition: transform 0.3s ease-out; */
    }
}

#card3 {
    transform: translateX(120%);
    animation-name: pathway-card3-slide;
    animation-delay: 4s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes pathway-card3-slide {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%) scale(1);
        opacity: 1;
        /* transition: transform 0.3s ease-out; */
    }
}

/* CSS for every section starts here */

.every {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0 auto;
    /* border: 3px solid red; */
}

.every-text-part {
    width: 50%;
    padding: 35px 20px 35px 35px;
    margin: 0;
    /* border: 3px solid blue; */
}

.every-image-part {
    width: 415px;
    height: 415px;
    background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/499374d6f5295d4a8f9d3947/jhjhjh.jpg");
    border-radius: 50%;
    background-size: cover;
    /* border: 3px solid green; */
}

.every-text-part button {
    padding: 12px;
    width: 170px;
    background: linear-gradient(to right, rgb(249, 126, 131), rgb(225, 54, 144));
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    letter-spacing: 1px;
    margin-top: 100px;
    /* border: 3px solid green; */
    transition: all 0.3s ease-in-out;

}

button:hover {
    transform: translateY(-10%);
}


@media screen and (max-width:980px) {
    .nav-items {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 980px) {
    .content {
        /* margin-left: 5%; */
    }
}

@media screen and (max-width: 980px) {
    .content span {
        /* margin-left: 0%; */
        font-size: 55px;

    }

    .content p {
        font-size: 18px;
        margin-left: -5%;
    }
}

@media screen and (max-width: 980px) {
    .landing-page-section {
        flex-direction: column;
        align-items: center;
        height: 1026px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%, 0% 50%);
    }

    .Pathway {
        clip-path: polygon(48% 8%, 100% 0, 100% 63%, 100% 100%, 0 100%, 0 60%, 0 0);
    }
}

@media screen and (max-width: 450px) {
    .landing-page-section {
        /* flex-direction: column; */
        align-items: center;
        width: auto;
        /* border: 3pxsolid red; */
        /* height: 1026px; */
        clip-path: polygon(50% 0, 100% 0, 100% 60%, 100% 100%, 50% 98%, 0 100%, 0 0);
    }

    .content {
        width: 370px;
        margin: auto;
        text-align: center;
    }

    .content button {
        margin:
    }

    .image {
        width: 410px;
        margin-right: 50px;
        /* background-size: cover; */
    }

    .image img {
        width: 100%;
        height: 100%;
        margin-left: 10px;
        /* border: 3px solid blue; */
    }

    .image .round {
        /* border: 3px solid goldenrod; */
        height: 390px;
        width: 385px;
        margin-left: 38px;
    }

    .Learning .heading-part h2 {

        font-size: 28px;
    }

    .grid-part {
        row-gap: 0%;
        justify-content: center;
        justify-items: center;
    }

    .Pathway {
        clip-path: polygon(48% 2%, 100% 0, 100% 63%, 100% 100%, 0 100%, 0 60%, 0 0);
    }

    .Pathway .text-part h2 {
        font-size: 32px;
        /* border: 3px solid green; */
    }

    .Pathway .card-part {
        flex-wrap: wrap;
    }

    .Pathway .card-part {
        /* border: 3px solid green; */
        margin-top: 50px;
    }





    .every {
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        flex-wrap: wrap;
        border: 3px solid red;
    }

    .every-text-part {
        width: 100%;
        padding: 35px 20px 35px 35px;
        margin: 0;
        border: 3px solid blue;
    }
    .every .every-text-part h2 {
        border: 4px solid black;
        font-size: 32px;
        text-align: center;
    }
    .every-text-part p{
        font-size: 16px;
        border: 4px solid black;
    }
    

    .every-image-part {
        width: 415px;
        height: 415px;
        background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/499374d6f5295d4a8f9d3947/jhjhjh.jpg");
        border-radius: 50%;
        background-size: cover;
        border: 3px solid green;
    }

    .every-text-part button {
    padding: 12px;
    width: 170px;
    /* height: 0px; */
    background: linear-gradient(to right, rgb(249, 126, 131), rgb(225, 54, 144));
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    letter-spacing: 1px;
    margin-top: 20px;
    border: 3px solid yellow;
    transition: all 0.3s ease-in-out;

}
}