* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* background: #E23890;
    background: linear-gradient(87deg, rgba(226, 56, 144, 1) 13%, rgba(246, 117, 132, 1) 55%); */
    background-image: linear-gradient(to right, #e13690, #f97e83);

}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 8px;
}

.logo span {
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(225, 54, 144);
}

.nav-items ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 12px;
    color: rgb(225, 54, 144);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 40vw;
    text-decoration: none;
}

.hamburger {
    display: none;
    margin-right: 25px;
    margin-top: 10px;
}

.header .hamburger i {
    font-size: 35px;
    color: black;
    padding: 10px;
    padding-top: 50px;
}


/* CSS for landing page section starts here */

/* .landing-page-container {
    position: relative;
    overflow: hidden;
    background: #E23890;
    background: linear-gradient(87deg, rgba(226, 56, 144, 1) 13%, rgba(246, 117, 132, 1) 55%);
} */

.landing-page-section {
    display: flex;
    /* border: 3px solid red; */
    background: rgb(0, 0, 0);
    height: 630px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    clip-path: polygon(50% 0, 100% 0, 100% 60%, 100% 100%, 48% 94%, 0 100%, 0 0);
}

.content {
    width: 50vw;
    /* border: 3px solid blue; */
    margin-left: 15%;
    margin-top: 7%;
    position: relative;
    animation: online-slide 2s ease-out forwards;
}

@keyframes online-slide {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.content span {
    font-weight: 500;
    font-size: 60px;
    letter-spacing: 5px;
    color: rgb(225, 54, 144);
}

.content p {
    font-size: 22px;
    width: 100%;
    max-width: 600px;
    margin-top: 30px;
}

.content button {
    padding: 20px;
    width: 190px;
    background: linear-gradient(to right, rgb(249, 126, 131), rgb(225, 54, 144));
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    letter-spacing: 2px;
    margin-top: 50px;
}

.image {
    width: 50vw;
    /* border: 3px solid green; */
    position: relative;
    animation: image-slide 2s ease-in-out forwards;
}

@keyframes image-slide {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

.image img {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 600px;
    width: 450px;
}

.round {
    width: 500px;
    height: 500px;
    /* background: linear-gradient(to right, rgb(249, 126, 131), rgb(225, 54, 144)); */
    border-radius: 50%;
    background-image: url(https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/22e81c593339560aa8499637/jj.jpg);
    /* border: 30px soild yellow; */
    background-size: cover;
    margin-top: 100px;
    transform: scale(0);
    animation-name: circle-slide;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes circle-slide {
    from {
        transform: scale(0);

    }

    to {
        transform: scale(1);
    }
}

/* CSS for landing page section ends here */

/* CSS for learning section Starts here */

.Learning {
    /* border: 3px solid red; */
    /* background: #E23890;
    background: linear-gradient(87deg, rgba(226, 56, 144, 1) 13%, rgba(246, 117, 132, 1) 55%); */
    background-image: linear-gradient(to right, #e13690, #f97e83);


}

.heading-part{
    /* border: 3px solid blue; */
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    padding: 15px;
    margin: 25px;
}

.grid-part{
    /* border: 3px solid green; */
    display: grid;
    grid-template-columns: 25% 25% 25%;
    row-gap: 4%;
    /* column-gap: 10%; */
    justify-content: center;
    justify-items: center;
    /* position: relative; */

}
.grid-part .box{
    /* border: 4px solid black; */
    height: 250px;
    width: 350px;
    position: relative;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box h1{
    display: inline;
    font-size: 3.5rem;
}
.box h2{
    display: inline;
    position: absolute;
    top: 12%;
    left: 30%;
}
.box p{
    margin-top: 20px;
    font-style: italic;
}
.heading-part{
    opacity: 0;
   animation-name: text-animation;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes text-animation {
    from{
        transform: scale3d(0);
        opacity: 0;
    }
    to{
        transform: scale3d(1);
        opacity: 1;
    }
}
#box1{
    /* transform: translateX(-100%); */
    opacity: 0;
   animation-name: box1-slide;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; 
}
@keyframes box1-slide {
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

#box2{
    transform: scale(0);
   animation-name: box2-slide;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; 
}
@keyframes box2-slide {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

#box3{
    /* transform: translateX(100%); */
    opacity: 0;
   animation-name: box3-slide;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; 
}
@keyframes box3-slide {
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}


@media screen and (max-width:980px) {
    .nav-items {
        display: none;
    }

    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 980px) {
    .content {
        /* margin-left: 5%; */
    }
}

@media screen and (max-width: 980px) {
    .content span {
        /* margin-left: 0%; */
        font-size: 55px;

    }

    .content p {
        font-size: 18px;
        margin-left: -5%;
    }
}

@media screen and (max-width: 980px) {
    .landing-page-section {
        flex-direction: column;
        align-items: center;
        height: 1026px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 95%, 0 100%, 0% 50%);
    }
}

@media screen and (max-width: 450px) {
    .landing-page-section {
        /* flex-direction: column; */
        align-items: center;
        width: auto;
        /* border: 3pxsolid red; */
        /* height: 1026px; */
        clip-path: polygon(50% 0, 100% 0, 100% 60%, 100% 100%, 46% 98%, 0 100%, 0 0);

        .content {
            width: 380px;
            margin: auto;
            text-align: center;
        }

        .content button {
            margin:
        }

        .image {
            width: 420px;
            margin-right: 50px;
            /* background-size: cover; */
        }

        .image img {
            width: 100%;
            height: 100%;
            margin-left: 10px;
            /* border: 3px solid blue; */
        }

        .image .round {
            /* border: 3px solid goldenrod; */
            height: 400px;
            width: 400px;
            margin-left: 38px;
        }
    }